




<div class="container">
 
  <div class="center row>
 <% @posters.each do |post| %>
    <div class="holder col-md-3">
       
          <%= image_tag(post.imgprofile, size: "200x150") %> 
          <br>
           <%= post.name %>
           <br>
           <%= post.overview %>    
    </div>
   
     
  <%end %>
  </div>

 
</div>
<%= link_to "Add an Poster", new_posters_path %>


