// Place all the styles related to the Posts controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/
.mtd{
    color: white !important;
  }
  .mtd3{
    color: white !important;
    font-weight: bolder;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    background-color: darkred !important;
  }

  .warning{
    font-weight: bolder;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
  }