// Place all the styles related to the posters controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/


.buttons{
    color: white;
    background-color: darkslategrey;
    margin-top: 20px;
}
.center{
    text-align: center;
}
.holder{
    border: 2px solid darkgrey;
    margin: 10px;
    text-align: center;
    padding: 5px;

}